<%= javascript_include_tag "user_show.js" %>

<% if !notice.blank? %>
  <p id='notice' class="alert alert-success"><%= notice %></p>
<% end %>
<div class='container'>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"%>
<script>
var mySwiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
      reverseDirection: false
    },
    loop: true,
    slidesPerView: 3,
    centeredSlides : true,
    slideToClickedSlide: true,
    spaceBetween: 10,
    breakpoints: {
      543: {
        slidesPerView: 2
      }
    }
  });
</script>
<h1 class="h4 font-weight-bold border-bottom py-2"><%= @shop.name %></h1>
<div class="balloon4">
  <p>行きたいお店が決まれば空席を見つけて座席をタップしてお店に知らせよう！</p>
</div>
<h2 class='head_test'>座席一覧</h2>
<div class='table_how'>
  <div class='table_fill_detail'>
    <div class='table_fill'>
      <div class='table_fill_how'>
      </div>
    </div>
    <p>：満席</p>
  </div>
  <div class='table_vacan_detail'>
    <div class='table_vacan'>
      <div class='table_vacan_how'>
      </div>
    </div>
    <p>：空席</p>
  </div>
</div>
<%= render "shop#{@shop.id.to_s}" %>