<%= javascript_include_tag "user_show.js" %>

<p id='notice'><%= notice %></p>
<div class='container'>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"%>
<script>
var mySwiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
      reverseDirection: false
    },
    loop: true,
    slidesPerView: 3,
    centeredSlides : true,
    slideToClickedSlide: true,
    spaceBetween: 10,
    breakpoints: {
      543: {
        slidesPerView: 2
      }
    }
  });
</script>
<h2 class='head_test'>座席一覧</h2>
<div class="balloon4">
  <p>行きたいお店が決まれば<button type="button" class="btn btn-success">IMANOMU</button>を座席にを送ろう！</p>
  <p>店員さんが座席を空けておいてくれるかも！</p>
</div>
<%= fa_icon 'arrow-circle-left 5x' %>
<%= fa_icon 'arrow-circle-right 5x' %>
<%= render "shop#{@shop.id.to_s}" %>